body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: flex;
  width: 100%;
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
}

input {
  font-size: 16px;
  border: 0;
  outline: none;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 12px 14px;
  font-size: 16px;
  background-color: #6363bf;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 14px;
  cursor: pointer;
}
  